<div class="navigation">
    <nav>
        <a [class.active]="isLinkActive('/main')" routerLink="/main">
            <svg viewBox="0 0 100 100">
                <g transform="translate(10 5) scale(0.8 0.9)">
                    <path d="M 0 30 v 70 h 100 v -70 l -50 -30 z" stroke="currentColor" stroke-width="10" fill="none"
                        stroke-linejoin="round" stroke-linecap="round" />
                </g>
            </svg>
            <span>Home</span>
        </a>

        <a [class.active]="isLinkActive('/liveTrades')" routerLink="/liveTrades">
            <mat-icon class="icon">timeline</mat-icon>
            <span>Trades</span>
        </a>

        <a [class.active]="isLinkActive('/portfolio')" routerLink="/portfolio">
            <mat-icon class="icon"> pie_chart</mat-icon>
            <span>Portfolio</span>
        </a>

        <a [class.active]="isLinkActive('/profile')" routerLink="/profile">
            <svg viewBox="0 0 100 100">
                <g transform="translate(5 5) scale(0.9 0.9)">
                    <circle cx="50" cy="35" r="18" stroke="currentColor" stroke-width="10" fill="none" />
                    <rect x="15" y="75" width="70" height="50" rx="25" stroke="currentColor" stroke-width="10"
                        fill="none" />
                </g>
            </svg>
            <span>Profile</span>
        </a>
    </nav>
</div>