<div class="card">
    <div class="header">
        <div *ngIf="!data.success">
            <div class="image">
                <svg aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                        stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </div>
            <div>
                <div class="content">
                    <span mat-dialog-title class="title">Error</span>
                    <p class="message">{{ data.Message }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="data.success">
            <div class="success">
                <mat-icon>done</mat-icon>
            </div>
            <div>
                <div class="content">
                    <span mat-dialog-title class="title">Completed</span>
                    <p class="message">{{ data.Message }}</p>
                </div>
            </div>
            <div mat-dialog-actions class="actions">
                <button mat-dialog-close class="cancel" type="button">X</button>
            </div>
        </div>
    </div>