<div class="body">
    <div class="container">
        <table class="table">
            <tr class="row">
                <button class="text" routerLink="/deposit"> <mat-icon class="button-icon">get_app</mat-icon>
                    Deposit</button>
            </tr>
            <tr class="row">
                <button class="text" routerLink="/withdraw"> <mat-icon class="button-icon"> publish</mat-icon>
                    Withdrawal</button>
            </tr>
            <tr class="row">
                <button class="text" routerLink="/statement"> <mat-icon class="button-icon">view_list</mat-icon>
                    Statement</button>
            </tr>
        </table>
    </div>
</div>