<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <span data-th-text="${Congrats}" style="font-family: Arial; font-size: 18px;"></span>,
                <span style="font-family: Arial; font-size: 18px;">your funds top up of $</span>
                <span data-th-text="${amount}" style="font-family: Arial; font-size: 18px;"></span>
                <span style="font-family: Arial; font-size: 18px;"> is </span>
                <span data-th-text="${success}" style="font-family: Arial; font-size: 18px;"></span>.
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-family: Arial; font-size: 18px;">Have a great day Trading.</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="cid:funds" style="width:600px" alt="funds image" />
            </td>
        </tr>
    </table>
</body>

</html>